<div class="mx-auto p-2">
  <h2>¡Piedra, Papel o Tijera!</h2>
  <p>Selecciona tu jugada:</p>
  <div class="container text-center">
    <div class="row row-cols-3">
      <div class="col">
        <button
          class="btn btn-outline-secondary fs-1"
          (click)="manoTresService.comienzaJuego(1)"
        >
          🗿 <br />
          Piedra
        </button>
      </div>
      <div class="col">
        <button
          class="btn btn-outline-secondary fs-1"
          (click)="manoTresService.comienzaJuego(2)"
        >
          📄 <br />
          Papel
        </button>
      </div>
      <div class="col">
        <button
          class="btn btn-outline-secondary fs-1"
          (click)="manoTresService.comienzaJuego(3)"
        >
          ✂️ <br />
          Tijera
        </button>
      </div>
    </div>
  </div>

  @if(manoTresService.playerList.id_mano){
  <h3>Resultado de la ronda</h3>
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">
        <p>Tu mano:</p>
        <button class="btn btn-outline-secondary fs-1">
          {{ manoTresService.playerList.icono }} <br />
          {{ manoTresService.playerList.mano }}
        </button>
      </div>

      <div class="col">
        <p>IA:</p>
        <button class="btn btn-outline-secondary fs-1">
          {{ manoTresService.computerList.icono }} <br />
          {{ manoTresService.computerList.mano }}
        </button>
      </div>
    </div>
  </div>

  <h3>Puntuación</h3>
  <p>Tú: {{ manoTresService.playerList.puntos }}</p>
  <p>IA: {{ manoTresService.computerList.puntos }}</p>

  <hr />
  <button
    class="btn btn-outline-secondary"
    (click)="manoTresService.finPartida(true)"
  >
    Finalizar partida</button
  >}
</div>
