<header>
  <h1>{{ title }}</h1>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="/tres">Tres</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cinco">Cinco</a>
      </li>
    </ul>
  </nav>
</header>
<section class="content mt-3">
  <img src="..//public/ayudaTres.png" alt="ayudaTres" class="img-fluid mb-3 w-25" />
<br>
  <img
    src="..//public/ayudaCinco.png"
    alt="ayudaCinco"
    class="img-fluid mb-3 w-25"
  />
</section>
